@font-face {
    font-family: Margarine;
    src: url("Fonts/margarine-megular.ttf") format(truetype);
    font-weight: 400;
  }

  @font-face {
    font-family: Roboto;
    src: url("Fonts/Roboto/Roboto-Bold.ttf") format(truetype);
    font-weight: 400;
  }